.penguin {
  font-family: sans-serif;
}
.penguin .stage {
  height: 800px !important;
}
.grow:hover {
  -webkit-transform: scale3d(1, 1, 1.5);
}

.animate {
  transition-property: -webkit-transform;
  -montage-transform-z-origin: 0%;
  transition-duration: 3s;
}
