.BeachPlanet {
    display: -webkit-box;
    display: -ms-flex;
    display: flex;
    height: 100%;
    font-family: sans-serif;
}

.BeachPlanet-logo {
    position: absolute;
    top: 40px;
    left: calc(50% - 75px);
    margin: 0;
    width: 150px;
}